*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;  
}

body {
    //background-color: #f7f7f7;
    // max-width: 1024px;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    h2 {
    text-align: center;
    }
}


.jumbotron {
    width: 100%;
    // height: 800px;
    height: 100vh;
    padding-top: 25%;
    background: url(../images/diogo-sousa-ZVKodjhgJa0-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-transform: uppercase;
    text-align: center;
    color: white;
    h1 {  
        font-size: 64px;
        text-shadow: 5px 5px 10px #000; // 文字陰影
    }
    .social-icon {
        //position: relative;
        a {
            color: white;
            margin: 0 10px;
        }
    }
    .arrow-down {
        position: absolute;
        bottom: 80px;
        right: 50%;
        width: 50px;
        margin-right: -25px;
        a {
            color: white;
        }
    }
}

.scrollTop {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 99px;
//   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
//           box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
//   background-color: rgba(0, 0, 0, 0.4);
//   border: solid 4px #000000;
    cursor: pointer;
    z-index: 999;
}

// .scrollTop:hover {
//     background-color: rgba(0, 0, 0, 0.8);
//     border: solid 4px gray;
// }

.scrollTop:hover .fa-arrow-up {
    color: gray;
}

.scrollTop .fa-arrow-up {
    color: #000000;
    font-size: 35px;
    margin-top: 3px;
    margin-left: 5px;
}

@media (max-width: 376px) {
    .scrollTop {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 3px #000000;
    }
    .scrollTop .fa-arrow-up {
    font-size: 24px;
    margin-top: 2px;
    }
}


.nav {
    position: fixed;
    width: 100%;      
    padding: 0 20px 0 20px;
    line-height: 10px;
    border-bottom: 1px solid #ccc;
    // overflow: auto;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;          
    top: 0;
    opacity: 0.8;   /*透明度*/
    transition: opacity .5s ease-out;   
    a {
        text-decoration: none;
        display: block;    
    }
    .home {
        float: left;
        font-size: 20px;
        font-weight: bold;
        margin-top: 1.5%;
        margin-left: 20px;
        text-transform: uppercase;
    }
    ul {
        display: flex;
        float: right;
        padding-left: 0;
        li  {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            font-size: 15px;
            padding: 0 0.75rem;
            &:not(:last-child) {
            border-right: 2px solid #000000;
            }   
        }
    }
}

@media (max-width: 768px) {
    .nav {
    .home, ul {
        display: none;
        }
    }
}

.personal-profile {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: f2f2f2;
    padding-bottom: 60px;
    p {
        text-align: center;
    }
}

// 漢堡選單
// 圖示
.showmenu {
    color: #69CA62;
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 30px;
    left: 25px;
    z-index: 9;
    cursor: pointer;
    .fa-bars {
        font-size: 35px;
    }
}

// 選單 pc 時隱藏
.menu-s {
    display: none;
    position: fixed;
    width: 100%;
    // border-bottom: 1px solid #777;
    // padding: 10px 20px;
    text-transform: uppercase;
    // background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
    list-style-type: none;
    li {
        line-height: 2em;
    }
    a {
        color: #69CA62;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .menu-s {
    /*選單出現*/
        display: block;
    /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
    /*隱藏選單結束*/
        transition: max-height 2.3s;
        margin-top: 1px;
    /*絕對定位疊在網頁上*/
        position: fixed;
        z-index: 9;
    /*header 80px+1px boder 線條*/
        top: 81px;
        left: 0;
        right: 0;
    // background: #69CA62;
    }
    // .menu-s li{
    // border-bottom: 1px dashed #69CA62;
    // }
    .menu-s li a{
        transition: all 0.2s;
    }
    .menu-s li a:hover{
        background: gray;
        color: #fff;
    }
    .showmenu{
        display: block;
        float: right;
        margin: 1em;
    }
    /*jQ點擊後動態在 body 加上 class 影響選單高度*/
    .menu-show .menu-s {
        max-height: 500px
    }
}

.spacer {
    width: 100px;
    height: 2px;
    margin: 20px auto;
    background: -webkit-linear-gradient(left, #0066cc, #fff);
}

.slider-wrap{
    padding: 0 120px 0 120px;
    width: 100%;
    overflow: hidden;
    .avatar {
        border-radius: 30px;
    }
    .slider {
        float: left;
        width: 35%;
        margin-left: -1%;
    }
    .intro {
        float: right;
        width: 64%;
        padding: 0 35px;
    }
}

.background_image2 {
    width: 100%;
    height: 60vh;
    background-image: url("../images/sea.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.resume-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
    min-height: 100vh;
    .main-box {
        width: 85%;
        margin: 0 auto;
        overflow: hidden;
    }
    .main-content p {
        text-align: center;
    }
    .space {
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }
    h4 {
        color: #0066cc;
    }
}

.background_image3 {
    width: 100%;
    height: 100vh;
    background-image: url("../images/kevin-wolf-jZ0Q7vAOF7A-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.skill-wrap {
    overflow: hidden;
    .main-content p {
        text-align: center;
    }
    .chart-wrap {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;    
    .chart {
        position: relative;
        float: right;
        width: 80%;
        height: 420px;
        margin-bottom: 20px;
        border-left: 2px solid #777;
        border-bottom: 2px solid #777;
    }
    .bar {
        position: absolute;
        bottom: 0;
        width: 10%;
        background: linear-gradient(#0066cc, #003366);
        .skill-title {
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            font-size: 1.0rem;
            text-transform: uppercase;
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        }
    }
    .chart-grid {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        border: 1px dotted #777;
        div {
            text-transform: uppercase;
            font-size: 1.0rem;
            font-weight: 800;
            letter-spacing: -px;
            color: #777;
            margin: -12px 0 0 -100px;
        }
    }
    .able {
    float: left;
    width: 33%;
    padding-left: 50px;
    line-height: 2;
    }
    h4 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #5779A4;
        padding: 4px 12px;
        border-radius: 4px;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .skill-bar{
            display: table;
            width: 100%;
            height: 10px;
            margin-bottom: 10px;
        .skill-rate-0 {
            background-color: #d9d9d9;
            display: table-cell;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        .skill-rate-1 {
            background-color: #66b3ff;
            display: table-cell;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        .skill-rate-2  {
            background-color: #1a8cff;
            display: table-cell;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        .skill-rate-3  {
            background-color: #0073e6;
            display: table-cell;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        .skill-rate-4  {
            background-color: #003366;
            display: table-cell;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
}

}

.background_image4 {
    width: 100%;
    height: 80vh;
    background-image: url("../images/francesco-ungaro-nlqqldluDBw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}


.portfolio-wrap {
    overflow: hidden;
    padding-bottom: 20px;
    width: 100%;
    min-height: 60vh;
    .main-content p {
        text-align: center;
    }
}

.portfolio-list {
    overflow: hidden;
    margin: 0 auto;  // 置中效果
    width: 80%;
    display: flex;
    flex-direction: column;
    .project {
        margin: 5px;
    }
    span {
        background-color: #5779A4;
        padding: 4px 12px;
        border-radius: 4px;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    p {
        width: 55%;
        line-height: 1.5em;
        //color: #0066cc;
        float: right;
    } 
    img {   // 讓圖片填滿整個元素
        width: 40%;  
        height: auto;
        //transform: scale(1); // 等於放大 scaleX(2) scaleY(2);
    }
    a {
        cursor: pointer;
    }
}

.background_image5 {
    width: 100%;
    height: 60vh;
    background-image: url("../images/johnny-chen-bLEmFvSPLog-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}


.contact-wrap {
    width: 100%;
    min-height: 60vh;
    background-color: #373737;
    color: white;
    .main-content {
        width: 100%;
        padding: 60px 50px 60px 50px;
        font-family: 'Raleway',微軟正黑體, sans-serif;
    }
    .contact-content {
        width: 85%;
        margin: 0 auto 80px;
        overflow: hidden;
        .contact-list {
            float: left;
            width: 35%;
            line-height: 2;
            transition: all 1s;
        }
        .contact-form {
            float: right;
            width: 64%;
            box-sizing: border-box;
            transition: all 1s;
            input {
                width: 100%;
                height: 34px;
                box-sizing: border-box;
                margin-bottom: 15px;
                padding: 0 10px;
                cursor: auto;
                color: #444444;
                border-radius: 4px;
                border: none;
            }
            textarea {
                width: 100%;
                height: 150px;
                color: #444444;
                box-sizing: border-box;
                padding: 0 10px;
                border-radius: 4px;
                outline: none;
            }
            .button-wrap {
                width: 100%;
                overflow: hidden;
            }
            .btn {
                width: 100px;
                color: white;
                display: inline-block;
                font-size: 14px;
                border: 1px solid #2ebd59;
                border-radius: 4px;
                padding: 6px 12px;
                text-align: center;
                background-color: inherit;
            }
            button {
                cursor: pointer;
            }
        }
    }
} 


.footer {
    width: 100%;
    padding: 40px 0px;
    color: white;
    text-align: center;
    background-color: rgb(10, 0, 0);
    .fa-chevron-up {
        color: white;
    }            
    a {
        display: inline-block;
        color: white;
        margin: 0 10px;
        cursor: pointer;
    }
}

.clearfix {   // 清除浮動
    clear: both;
}


@media (max-width: 768px) { // 畫面顯示正常
}



@media (max-width: 568px) {
    .jumbotron {
        h1 {
        font-size: 30px;
        }
    }
    .nav {
        display: none;
    }
    .slider-wrap {
        padding: 50px ;
        .slider{
            width: 100%;
        }
        .intro {
            width: 100%;
        }
    }
    .skill-wrap .chart-wrap .able {
        clear: both;
        width: 100%;
        p {
            display: inline-block;
            margin: 0%;
            font-size: 20px;
            span {
                display: inline-block;
            }
        }
    }
    .portfolio-list {
        flex-direction: column;
    }
    .contact-wrap {
        .main-content {
            padding: 10px 50px 10px 50px;
        }
        .contact-content {
            .contact-list {
                clear: both;
                width: 100%;
                line-height: 2;
                transition: all 1s;
            }
            .contact-form {
                clear: both;
                width: 100%;
                line-height: 2;
                transition: all 1s;
            }
        }
    }
}

//animated
.animatedJS{
    opacity: 0;
    transition:  1.5s;
    transform: translateY(50px);
}
.animatedTop{
    opacity: 0;
    transition:  1.5s;
    transform: translateY(150px);
}
// 往上淡入
.fadeIn{
    opacity: 1;
    transform: translateY(0);
}
// 一開始右移 300px
.animatedRight{
    opacity: 0;
    transition:  1.5s;
    transform: translateX(300px);
}
// 往右淡入
.fadeRight{
    opacity: 1;
    transform: translateX(0);
}
// 一開始左移 300px
.animatedLeft{
    opacity: 0;
    transition:  1.5s;
    transform: translateX(-300px);
}
// 往左淡入
.fadeLeft{
    opacity: 1;
    transform: translateX(0);
}